<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Profile</title>
    <link rel="stylesheet" href="../css/styles.css"> 
</head>
<body>
    <form class="profile-container">
        <h1>Welcome, Company</h1>

        
         <button>  <a href="addflight.html" class="btn">Add New Flight</a></button> 
        <button>    <a href="GetAllFlights.html" class="btn">View All Flights</a></button> 
       
    </form>
</body>
</html>
